html
	head
		meta(charset='utf-8')
		title Oleg Serediuc
		link(rel='stylesheet', href='css/style.css')
	body
		include head.jade					
		#contact
			h2 Get in touch
			fieldset
				.label-wrap
				.label-wrap
				textarea
				button