header
			.burrito
				nav
					a(class='logo', href='index.html')
						img(border='0', alt='W3Schools', src='files/images/Oleg_Serediuc.svg')
					ul
						li 
							a(href='work.html') Work
						li 
							a(href='contact.html') Contact