html
	head
		meta(charset='utf-8')
		title Oleg Serediuc
		link(rel='stylesheet', href='css/style.css')
	body
		include head.jade
		article#hueston.portfolio-item.white
			.wrap
				.image-wrapper.browser
					img(src='content/hueston-hennigan.jpg', alt='Hueston Hennigan Website')
				.description    
					h2 Hueston & Hennigan
					p Website for a newly founded boutique law firm from southern California.
					a.bt(href='http://ivomynttinen.com/work/hueston-hennigan/') See more
		
		